{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false,
  "xmlSelfClosingSpace": false,
  "xmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "@prettier/plugin-xml"
  ]
}
